body {
  margin: 0;
  padding: 20px;
  background: #f7f6f3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin-top: 10px;
}
.icon > img {
  width: 100%;
  height: 100%;
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
/* hc3 */
.hc3.container {
  height: 350px;
  display: inline-block;
  width: 100%;
}
.hc3 > .title {
  margin-top: 125px;
  margin-left: 33px;
  margin-right: 27px;
}
.hc3 > .description {
  margin-top: 28px;
  margin-left: 33px;
  margin-right: 36px;
}

.hc3 > .action-btn-container {
  margin: 29px 159px 20px 33px;
  background: #000000;
  border-radius: 6px;
}
.action-btn {
  margin-left: auto;
  background-color: transparent;
  border: transparent;
  color: white;
}

/* hc6 */
.hc6.container {
  height: 60px;
  display: flex;
}
.hc6 > .icon {
  margin-left: 20px;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
  width: 30px;
  height: 30px;
}
.hc6 > .right {
  display: grid;
}

/* hc9 */
.hc9.box {
  display: flex;
}
.hc9.container {
  margin-left: 5px;
}

/* hc1 */
.hc1.container {
  display: flex;
  padding: 5px;
  height: 60px;
}

.hc1 > .title {
  margin: auto 10px;
}
